<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eric.cookbook">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 相机 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-sdk android:minSdkVersion="13" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--通讯录权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- 必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->

    <!-- 可选-->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Appwelcome">
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.WelcomeGuideActivity" />
        <activity
            android:name=".fragment.HeartRateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name=".step.StepService" />
        <service android:name=".step.StepService$GrayInnerService" />

        <activity
            android:name=".ui.menulist.MenuListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.menudetail.MenuDetailActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ui.menufind.MenuFindActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.healthy.HealthyEatingActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ui.healthdetail.HealthDetailActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.EatStatisticActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FoodsRecommendActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FoodsListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.FoodInfoActivity"
            android:theme="@style/AppTheme" />

        <activity android:name="com.eric.cookbook.activity.SendMessageActivity"
            android:theme="@style/AppTheme"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sO3yl290Hj32hYytA9EN5uPW1AEynszR" />       //key:开发者申请的key
        <!-- 必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="0b807e84d705f85fadf7179654ce25b1" >
        </meta-data>
        <!--最大屏幕比例，支持全面屏-->
        <meta-data android:name="android.max_aspect"
            android:value="2.1"/>

        <!--Tinker需要在AndroidManifest.xml中指定TINKER_ID，每次升级客户端版本需要更新thinerId，否则会加载旧版本补丁-->
        <meta-data
            android:name="TINKER_ID"
            android:value="tinker_id_100" />
    </application>

</manifest>